# Part I
In this part you should answer the questions (or performing the requested tasks) using the **adult.csv** file you find in the *Data* folder. 

In case you want to learn more about this dataset : https://archive.ics.uci.edu/ml/datasets/Adult

Feel free to import any library you want.

## Load the adult.csv

- Make sure that you're not loosing the first row!
- Name the columns: 
'age',
'workclass',
'fnlwgt',
'education',
'education-num',
'marital-status',
'occupation',
'relationship',
'race',
'sex',
'capital-gain',
'capital-loss',
'hours-per-week',
'native-country',
'income'

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/Users/navid/Google Drive/active_python_files/Python_introduction/Data/adult.csv', header=None)

In [ ]:
df.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
              'marital-status', 'occupation', 'relationship', 'race', 'sex',
              'capital-gain', 'capital-loss', 'hours-per-week',
              'native-country', 'income']

In [ ]:
df.head()

## Remove these columns: 'fnlwgt', 'education-num'

In [ ]:
df.drop(columns=['fnlwgt', 'education-num'], inplace=True)
#df.drop(['fnlwgt', 'education-num'], axis=1, inplace=False)

#df = df.drop(['fnlwgt', 'education-num'], axis=1)
#df.drop(['fnlwgt', 'education-num'], axis=1, inplace=True)

## Remove all the records with capital-loss equal to 810 or 213

Don't forget to reset the index of the DataFrame

In [ ]:
df = df[(df['capital-loss'] != 810) & (df['capital-loss'] != 213)].reset_index(drop=True)

In [ ]:
df.head()

## Report the missing data for each column

In [ ]:
from tqdm.auto import tqdm

In [ ]:
a = 'a gf y d hj k v d h k v '.split()
for i in tqdm(a):
    print(i*5)

In [ ]:
nan_count = [1 for x in tqdm(df['occupation']) if str(x) == 'nan']

In [ ]:
sum(nan_count)

In [ ]:
import numpy as np
df.replace(' ?', np.nan, inplace=True)

In [ ]:
df['occupation'] = df['occupation'].apply(lambda x : x.strip())

In [ ]:
temp = []
for i in tqdm(df['occupation']):
    try:
        temp.append(i.strip())
        
    except AttributeError:
        temp.append(np.nan)

In [ ]:
df['occupation'] = temp

In [ ]:
df['occupation'].unique()

## Create a new column containing the average value of 'capital-gain' and 'capital-loss'

Name the new column as *avg_capitial*

In [ ]:
df['avg_capitial'] = sum([df['capital-gain'] + df['capital-loss']]) / 2

In [ ]:
df['avg_capitial'] = np.mean([df['capital-gain'], df['capital-loss']], axis=0)

In [ ]:
tqdm.pandas()
df['avg_capitial'] = df.progress_apply(lambda row: np.mean([row['capital-gain'],
                                                            row['capital-loss']]),
                                                            axis = 1)

In [ ]:
df.head()

## Make a scatter plot of 'age' and 'avg_capital'

In [ ]:
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = 14, 8

plt.scatter(df.age, df.avg_capitial, alpha=0.3 )
plt.title('Correlation between Age and Average Capital\nMay 2020', fontsize=15)
plt.xlabel('Age', fontsize= 12)
plt.ylabel('Average Capital', fontsize= 12)
plt.ylim(0, 60_000)
#plt.savefig('Corr2020.png', dpi=600)
plt.show()

In [ ]:
for country in df['native-country'].unique():
    temp = df[df['native-country'] == country]
    plt.scatter(temp.age, temp.avg_capitial, alpha=0.3 )
    plt.title(f'Correlation between Age and Average Capital\n{country}: May 2020', fontsize=15)
    plt.xlabel('Age', fontsize=12)
    plt.ylabel('Average Capital', fontsize=12)
    plt.ylim(0, 60_000)
    plt.savefig(f'Corr2020_{country}.pdf')
    plt.show()

## Calculate the average 'capital-gain' for each country

Use pandas groupy

In [ ]:
df.head()

In [ ]:
df[['native-country','capital-gain']].groupby('native-country').mean().reset_index()

## Write a function that given a column name prints the following info:
- Number of Non-blank records
- Data type
- Average value (in case it's numerical)
- Unique values (in case it's categorical)

In [ ]:
def column_info(col_name):
    """
    Given the column name returns:
    
    - Number of Non-blank records
    - Data type
    - Average value (in case it's numerical)
    - Unique values (in case it's categorical)
    """
    print(f'Number of Non-blank records: {sum(~df[col_name].isna())}')
    print(f'Data type: {df.dtypes[col_name].name}')
    if df.dtypes[col_name].name in ('int64', 'float64'):
        print(f'Average value: {round(df[col_name].mean(), 1)}')
    if df.dtypes[col_name].name == 'object':
        print('Unique values:')
        print(df[col_name].value_counts())

In [ ]:
column_info('occupation')

In [ ]:
column_info('age')

## Save the final DataFrame both csv and Excel files

In [ ]:
df.to_csv('my_csv.csv', index=False)
df.to_excel('my_csv.xlsx', index=False)

# Part II
In this part each task is independent from the other parts.

Feel free to import any library you want.

## Write a function that for any given path print the following info:
- Number of .py files
- Number of .pdf files
- Number of .csv files
- Number of .xlsx files

In [ ]:
from glob import glob

In [ ]:
def file_report(path):
    """
    prins the following for a given path
    - Number of .py files
    - Number of .pdf files
    - Number of .csv files
    - Number of .xlsx files
    """
    files = glob(path)
    py_files = [file for file in files if file.endswith('.py')]
    pdf_files = [file for file in files if file.endswith('.pdf')]
    csv_files = [file for file in files if file.endswith('.csv')]
    xlsx_files = [file for file in files if file.endswith('.xlsx')]
    print(f'py files: {len(py_files)}')
    print(f'pdf files: {len(pdf_files)}')
    print(f'csv files: {len(csv_files)}')
    print(f'xlsx files: {len(xlsx_files)}')

In [ ]:
file_report('/Users/navid/Google Drive/active_python_files/Python_introduction/*')

## write a function that calculate the $A_L$


<img src="Images/lat_sur_area.png" width="500">

- Use *isinstance* and *assert* to make sure the inputs are either integer or float
- for 11, 7, 12 you should get **229.9**

In [ ]:
def lateral_surface_area(l, w, h):
    """
    Docstring bla bla
    """
    a = l * (((w / 2)**2+((h)**2)) ** 0.5)
    b = w * (((l / 2)**2+((h)**2)) ** 0.5)
    return a + b

In [ ]:
lateral_surface_area(11, 7, 12)

## Write a function that replaces spaces with _ in a given text while adds * before and after a specific letter (to be defined as the input)

Example: 'Extraction was done by Barry Beckers from the 1994' given the letter **s** would results in--> 'Extraction_wa\*s\*_done_by_Barry_Becker\*s\*_from_the_1994'

In [ ]:
def strange_format(text, letter):
    """
    replaces spaces with _ in a given text while adds * before and after a specific letter
    """
    return text.replace(' ','_').replace(letter, f'*{letter}*')

In [ ]:
strange_format('Extraction was done by Barry Beckers from the 1994', 's')

## Loading the 'review.txt' from *Data* folder :
- Replace "" with ' (example: ""cidreira"" --> 'cidreira')
- Lowercase the text
- Count how many times a word is repeated in the text and put the results  a dictionary (example: {'a': 53, 'the': 34, ...})
- using *os* library, remove the *review.txt*
- Save the modified text to a file name *review_modified.txt*

In [ ]:
from collections import Counter
import os
with open('Data/review.txt', 'r') as file:
    data = file.readlines()
data = ' '.join(data)
data = data.replace('""', "'")
cnt_dit = dict(Counter(data.split()))
#os.remove('review.txt')
with open('review_modified.txt', 'w') as file:
    file.write(data)

## Using list comprehension, *'any'* built-in function and the given data:
create a list of all dictionary keys that in their value there is at least one string with a length higher than 3

In [ ]:
data = {'first': ['a', 3, 'aa', 'bbb'],
        'second': ['frigo', 77, 'fifo'],
        'third': [11, 14, 976, 0.109, 'pippo']}

In [ ]:
# better version
[k for k, v in data.items() if any([len(str(x)) > 3 for x in v])]

In [ ]:
# another version
[k for k in data.keys() if any([len(str(x)) > 3 for x in data[k]])]

## Other example

### Regex

In [ ]:
import re # regex

a = 'my name is Navid and my cat name is oliver'

[x.span() for x in re.finditer('name', a)]

In [ ]:
# equal to the above list comprehension
for i in re.finditer('name', a):
    print(i.span())

### Counter

In [ ]:
A = ['a', 'B', 'a', 'c']

In [ ]:
my_count = {}
for i in A:
    if i not in my_count.keys():
        my_count[i] = 1
        print(f'{i} --> {my_count}')
    else:
        my_count[i] += 1
        print(f'{i} --> {my_count}')

In [ ]:
from collections import Counter

In [ ]:
dict(Counter(df['native-country']))

In [ ]:
# An alternative
df['native-country'].value_counts()

## Air Quality Database

Let's try to practice what we've learned with this dataset! [Download link](https://bit.ly/38KRxc7)

The dataset contains 9358 instances of hourly averaged responses from an array of 5 metal oxide chemical sensors embedded in an Air Quality Chemical Multisensor Device. The device was located on the field in a significantly polluted area, at road level,within an Italian city. Data were recorded from March 2004 to February 2005 (one year)representing the longest freely available recordings of on field deployed air quality chemical sensor devices responses. Ground Truth hourly averaged concentrations for CO, Non Metanic Hydrocarbons, Benzene, Total Nitrogen Oxides (NOx) and Nitrogen Dioxide (NO2) and were provided by a co-located reference certified analyzer. Evidences of cross-sensitivities as well as both concept and sensor drifts are present as described in De Vito et al., Sens. And Act. B, Vol. 129,2,2008 (citation required) eventually affecting sensors concentration estimation capabilities. Missing values are tagged with -200 value.
This dataset can be used exclusively for research purposes. Commercial purposes are fully excluded.

Attribute Information:

0 Date (DD/MM/YYYY)
1 Time (HH.MM.SS)
2 True hourly averaged concentration CO in mg/m^3 (reference analyzer)
3 PT08.S1 (tin oxide) hourly averaged sensor response (nominally CO targeted)
4 True hourly averaged overall Non Metanic HydroCarbons concentration in microg/m^3 (reference analyzer)
5 True hourly averaged Benzene concentration in microg/m^3 (reference analyzer)
6 PT08.S2 (titania) hourly averaged sensor response (nominally NMHC targeted)
7 True hourly averaged NOx concentration in ppb (reference analyzer)
8 PT08.S3 (tungsten oxide) hourly averaged sensor response (nominally NOx targeted)
9 True hourly averaged NO2 concentration in microg/m^3 (reference analyzer)
10 PT08.S4 (tungsten oxide) hourly averaged sensor response (nominally NO2 targeted)
11 PT08.S5 (indium oxide) hourly averaged sensor response (nominally O3 targeted)
12 Temperature in Â°C
13 Relative Humidity (%)
14 AH Absolute Humidity

The file we downloaded is a zip file. Let use **zipfile** library that is come with Python and you don't need to install it:

In [ ]:
from zipfile import ZipFile

make sure you're in the directory of the zip file

In [ ]:
ls

In [ ]:
# Extracting the zip file 
with ZipFile('AirQualityUCI.zip', 'r') as obj:
    obj.extractall()

In [ ]:
# now that we've extracted the zip file we can read it with pandas
df = pd.read_csv('AirQualityUCI.csv', sep=';')

In [ ]:
# now that we've extracted the zip file we can read it with pandas
df = pd.read_csv('AirQualityUCI.csv', sep=';')

In [ ]:
df.head()

In [ ]:
df = df[list(df.columns)[:-2]]

In [ ]:
df.describe()

Columns seem ok now. what about the end of the file?

In [ ]:
df.tail()

Oops! there are lots of **NaN** values there!
we can use **.dropna** method to remove them. pay attention to the **how='all'** argument. It means _remove rows that **all** of their values are NaN_

In [ ]:
df.tail()

In [ ]:
df.tail()

Reading the dataset info , we fond out that the creators used **-200** to fill the blanks. We should replace these values with real *Nan*s:

In [ ]:
df.replace(-200, np.nan, inplace=True)

Ok we've correctly identified the *NaN* values but how much *NaN*s we have now?

In [ ]:
df.isna().sum()

What happened above? first we used **.isna()** method to check each value in the DataFrame to see if it's *NaN* . This returns a New DataFrame with just *True* and *False* values(*True* if the value is *NaN* and *False* if it's not a *NaN*). Then we use **.sum()** to add them up. You may not expected Python to sum *True/False* (Boolean) values but the reason it happens is that Python sees *True* as 1 and *False* as 0.

Ok, at the end of the data cleaning, we can save our cleaned data to a csv:

In [ ]:
df.to_csv('../Results/AirQuality_clean.csv', index=False)

## Exercises

Write two function for the given formulas:

<img src="Images/sphere.png" width="700">

The first function *(get_sphere_volume)* should get **5** and return **523.6**

The first function *(get_sphere_radius)* should get **17** and return **1.6**

hint: for $\pi$ use *math.pi* (import math)

In [ ]:
import math

def get_sphere_volume(radius):
    return (4/3) * (math.pi * (radius ** 3))

def get_sphere_radius(volume):
    return (3 * (volume / (4 * math.pi))) ** (1/3)