In [1]:
# 1. Create a List with five integer elements.

In [2]:
# 2. Access and print the first element of the above list.

In [3]:
# 3. Change the value of the second element of the above list to 10.

In [4]:
# 4. Add a new element to the end of the above list.

In [5]:
# 5. Insert the value 25 at the third position of the above list.

In [6]:
# 6. Remove the last element from the above list.

In [7]:
# 7. Find the length of the above list.

In [8]:
# 8. Slice the above list to extract elements from the 2nd to the 4th position.

In [9]:
# 9. Print each element of a the above list using a loop.

In [10]:
# 10. Create a new list containing squares of all elements from the above list.

In [11]:
# 11. Create a copy of the new list.

In [12]:
# 12. Reverse the order of elements in the above list.

In [13]:
# 13. Sort a list of numbers in ascending order.
number_list = [5, 3.14, 7, 1, 0, -14]

In [37]:
# 14. Count how many times 5 appears in a list.
my_list = [
    9, 2, 9, 5, 5, 2, 20, 5, 10, 7, 10, 5, 4, 5, 4, 8, 2, 5, 27, 5, 7, 5, 10, 4,
    5, 10, 7, 10, 5, 20, 5, 4, 10, 5, 4, 4, 6, 6, 9, 5, 5, 2, 4, 5, 4, 4, 12, 11
]

In [38]:
# 15. Remove the first occurrence of element 20 from the above list.

In [16]:
# 16. Extend a list by appending all elements from another list.

In [17]:
# 17. Find the index of the first occurrence of element 30.
my_list = [3, 0, 30, [30], '30', 30, 3030]

In [18]:
# 18. Calculate the sum of all numbers.
my_list = [4, 3.14, 67, 499]

In [39]:
# 19. Multiply all the items in a list using reduce()
my_list = [1, 3, 9, 27, 81]

In [27]:
# 20. Check if the element 25 is present in a list.
my_list = list(range(1, 500, 4))

In [28]:
# 21. Flatten a nested list using list comprehension
nested_list = [[1, 2], [3, 4], [5, 6]]

In [29]:
# 22. Rotate a list to the right by 3 places.
# Hint: Use slicing.

In [30]:
# 23. Filter out all odd numbers from a list, leaving only even numbers.
# Hint: Use a list comprehension with a condition.

In [31]:
# 24. Convert a list of characters into a string.
# Hint: Use the join() method.
char_list = ['P', 'y', 't', 'h', 'o', 'n']

In [35]:
# 25. Remove all duplicate elements from a list.
# Hint: Use a set to track seen elements.
my_list = [3, 0, 30, 30, '30', 30, 3030, 30, 300, 30]

In [ ]:
# 26. Find the intersection of two lists.
# Hint: Use set operations.
list_a = [1, 2, 3, 4]
list_b = [3, 4, 5, 6]

In [ ]:
# 27. Get the difference between list_a and list_b.
# Hint: Use list comprehension and `in`.
list_a = [0, 1, 2, 3, 4]
list_b = [3, 4, 5, 6, 0]

In [36]:
# 28. Find the symmetric difference between two lists.
# Hint: Use set operations.
list_a = [0, 1, 2, 3, 4, 11]
list_b = [3, 4, 10, 5, 6, 0]

In [ ]:
# 29. Find all sublists in a list that contain the element 5.
# Hint: Use a combination of list comprehension and the `any()` function.
list_of_lists = [[1, 2, 3], [4, 5, 6], [5, 7, 8], [9, 0]]

In [ ]:
# 30. Generate all permutations of a list.
# Hint: Use the itertools.permutations function.