# About this course

This introduction course, presented for the first time in BIBDA Master, tends to give you an overview of Python programming language and its general structure as in the future modules of Master like web scrapping, Machine learning and text mining Python will be used as the principal programming language.
Please note that due to the vast range of arguments/tools related to Python language we won't/can't cover them all here as this course designed to help you not to become a Python programmers but to learn its basics and enable you to expand your data science skills using it as a modern programming language.

## Course structure

Our goal here is not to provide a deep insight into Python and act as an official reference since you can easily can access hundreds of online sources to learn about each and every detail of Python.
Given the wide range of students' backgrounds, there is no assumption about prior knowledge about programming or data analysis. We've tried to provide you with simple examples which give you a clear understanding of functionality of different tools. There are also parts called **YOUR TURN** which ask you to put into practice what you have learned during the lesson. These parts are accompanied by three different symbols which show the difficulty of the exercise:

<img src="Images/baby.svg"   width="30" align="left">

**EASY:** You're expected to solve it by yourself. (max 2 min)

<img src="Images/student.svg"   width="35" align="left">

**So-So:** In case you find it hard to solve, try to ask your friend's opinion. (max 5 min)

<img src="Images/wizard.svg"   width="40" align="left">

**HARD:** If you're not comfortable with it, leave it alone! once in home, try to attack it again!

For the questions that you should write code, you'll find a code block with a Python in it! just remove it and insert your answer instead.

<img src="Images/python.png"   width="300" align="left">


While major parts of codes are self-explanatory, there are ones that need a more detailed explanation. These parts are indicated by an owl sign!

<img src="Images/owl.svg"   width="40" align="left">

## Prerequisite

The only prerequisites for using this course is high-school level math and a running version of Python and Jupyter notebook.

# What is a programming language?

Simply put, a programming language is a intermediary language(with its predefined structure) which is able to translate human language(instructions) to a language which is understandable by a computer(Hardware).
There are different levels of programming languages with different scopes which we won't explain here in depth. In the following figure you can see the hierarchy of these languages and the interactions they have with each other.
<img src="Images/languages.jpg"  width="600" align="center">
[image source](https://www.informationq.com/computer-language-and-its-types/computer-language-and-its-types/)

Unlike languages like C and C++, Python is a interpreted language which means you can run it only you have the interpreter on your machine(installing Ptyhon = installing Python interpreter). In this [link](https://www.html.it/pag/15387/programma-compilato-e-interpretato/) you can learn about the differences between interpreted and compiled languages.

# What is an algorithm?

An algorithm is a series of instructions with a specific order and a defined end, used to solve a  specific problem. As an example, imagine you want to tell someone how to get to Milano Garibaldi from Bicocca University. You can write down the steps: (Notice how important is the order of steps)
- Look at the train information board
- Find out when and when is the next train to greco Pirelli station
- Go to the platform
- Get in the train
- Wait until you arrive to the greco Pirelli station
- Get off of the train
- ...

In this example, we are giving this instruction to a human being so we can simply use Italian language(or any other *natural* language) but what happens when we want a computer to follow our instructions? That's where computer languages come into the scene.

# Why Python?

Python is the principal (but not the only) programming language of BIBDA master. The reason behind this choice is mainly based on its strong characteristics like (but not limited to):
- Simple and minimalistic syntax 
- High efficiency
- Productivity and speed
- Extensive libraries
- Strong community support
- Acceptance by giants like Google and Facebook

Another point that makes Python an intresting programming language is its incredible growth in the European job market and computer/data science community:

<img src="Images/python_trend.png" width="700">

<img src="Images/py_growth.png" width="700">

[image source](https://stackoverflow.blog/2017/09/06/incredible-growth-python/)

# Running a Python code

In the previous parts we have seen together why we need a programming language and why we choose Python. Now let's briefly explore the different ways we can "run" our codes (algorithms) written in Python. There are four main ways:

- Running Python directly in command line/ bash
- Using an IDE (Ex. [IDLE](https://docs.python.org/3/library/idle.html), [PyCharm](https://www.jetbrains.com/pycharm/) and [Spyder](https://www.spyder-ide.org/))
- Using a Text Editor (Ex. [VsCode](https://code.visualstudio.com/), [Sublime Text](https://www.sublimetext.com/) and [Atom](https://atom.io/))
- Using a Notebook (Ex. [Jupyter](https://jupyter.org/), [nteract](https://nteract.io/) and [Zeppelin](https://zeppelin.apache.org/))

We can't describe each option in details here but if you are interested to now more about these tools and how they are different from each other, take a look at the [article](https://medium.com/@navid.nobani/adding-python-to-your-life-choices-everywhere-35bbf435fe5d) I've written about this subject.

Here as you may have noticed(!) we're are going to use Jupyter notebook for the rest of out course.
Jupyter notebook has an interesting developement story which you can find out more about it in [this article](https://www.datacamp.com/community/tutorials/tutorial-jupyter-notebook).

# Use Python as a calculator

The most basic (and inefficient) use of any programming language is using it as a calculator! Let's see some examples:

$\frac{((119 + 0.789)^{3.14}\times 1000000000}{57^{\frac{5}{2.4}}} = 738170310705.7557$

In [13]:
(((119 + 0.789)**3.14) * 1000_000_000) / 57**(5/2.4)

738.1703107057558

There are also some interesting (and still extremely simple) calculation we can perform too:

In [14]:
989 % 5

4

In [15]:
9470 / 11

860.9090909090909

In [16]:
9470 // 11

860

"%" and "//" (Floor Division) are two of operators available in Python. Take a look at the [complete list of operations](https://docs.python.org/3.4/library/operator.html#mapping-operators-to-functions) in the Python documentation. The following table summarize the most important ones:

<img src="Images/operations.png">

<img src="Images/baby.svg"   width="30" align="left">

**YOUR TURN :** compute the following :

$$(\frac{2019}{5})^{24} * 0.000314$$

In [18]:
((2019 / 5) ** 24) * 0.000314

1.1089735772993454e+59

## Comparisons operators

Comparison operators are not technically considered as a part of "Control flow" but since their usage with mentioned statements, I put them here. As the name suggest these operators **compare** two object and return either *True* or *False*. Let's see some examples:

In [4]:
a = 15.6
b = 79
print(a == b)
print(a != b)
print(a < b)
print(a > b)
print(a <= b)
print(a >= b)

False
True
True
False
True
False

# Variables

A variable is just a reference which points to a specific object in the memory. Imagine it as name tag which you attach to a piece of the memory of your computer. In this way everytime you need to access that pies you just need to follow the name tag. Obviously this attachment is not permanent, it means you can detach it and connect it to another piece of memory as in the same way, you can attach two different name tags to the same object.

<img src="Images/baby.svg"   width="30" align="left">

**YOUR TURN :** We assign 12 to A, 2 to B and compute C by multiplication of A and B and assign the result to C. Now if we assign 3 to B, What would be the value of the C?

<img src="Images/variable.png" width="600" align="left">

In [35]:
A = 12
print(A)
B = 2
print(B)
C = A * B
print(C)
B = 3
print(B)
C = A * B
print(C)

12
2
24
3
36

Unlike C and Java which are "Statically-typed languages", Python is a "dynamically-typed language", which means variables must not only have a single data type, instead you can assign different objects with different data types to the variable (not simultaneously). You can read more about this subject [here](https://wiki.python.org/moin/Why%20is%20Python%20a%20dynamic%20language%20and%20also%20a%20strongly%20typed%20language).

Let's define a variable and assign a number to it:

In [16]:
my_var = 10

We just created our first variable! let's print it to confirm what is inside:

In [17]:
print(my_var)

10

Now let's assign a text to **my_var**:

In [18]:
my_var = 'my fancy text'
print(my_var)

my fancy text

In [41]:
GATTO = 875765

Notice that in the code above, we didn't explicitly tell Python which data type we're going to assign to "my_var".

## Variable naming

There are 3 rules you should have in mind when defining a new variable:
- It CAN contain only letters, numbers and underscore(\_).
- It MUST start either with a letter or underscore(\_). It CAN'T start with a number.
- It CAN'T/SHOULDN'T be a [reserved](https://docs.python.org/2.5/ref/keywords.html) name.

Let's explain a bit the last point. I used **CAN'T/SHOULDN'T** and not **CAN'T** because While you **CAN'T**  assign a value to some of these reserved key words (like **for**) actually if you want, you **CAN** assign a value to some of them (like function **print**); The point is even if you **CAN** do so, it's almost always absolutely a bad idea !

<img src="Images/baby.svg"   width="30" align="left">

**YOUR TURN :** What would be the result? (answer without running it!)

print = 2

print(10)

- 2
- 10
- 20
- None of above

A variable name doesn't have any length limitation but it's better if you keep it as short as possible ( as long as it's easy to remember and reuse= being informative)

**Correct Examples:**
- myVal
- My_val
- ppppppppppppppppppppppp


**Good Examples:**
- length
- size_before_trim
- item_1

**Wrong Examples:**
- 1_myval
- 49param

**bad Examples:**
- pp
- abc
- size_before_removing_outliers_from_main_table

[more details about variables](https://realpython.com/python-variables/)

<img src="Images/baby.svg"   width="30" align="left">

**YOUR TURN :** Define three variables : **birth_year**, **birth_month** and **birth_day** and assign them your birth date.

In [ ]:
(\   .-.   .-.   .-.   .-.   .-.   .-.   .-.   .-.   /_")
 \\_//^\\_//^\\_//^\\_//^\\_//^\\_//^\\_//^\\_//^\\_//
  `"`   `"`   `"`   `"`   `"`   `"`   `"`   `"`   `"`

# Data types

In Python , everything is an object and every object has a type. There are different ways to divide data types. For example You can divide them into *Scalers* which you can't sub-divide to further pieces(like a number) and non-scalers which you can sub-divide (like a list of numbers).

Another way to categorize them is based on their origin:

- Built-in Data Types
- Data types that are not built into the interpreter

Here we mainly talk about the built-in data types which can be divided into the following types:

<img src="Images/data_types.jpeg">

Notice that this isn’t how [Python documentation](https://docs.python.org/2/library/stdtypes.html) divides data types but in my opinion the official documentation may seem a bit confusing for a reader which is facing this argument for the first time.

## Numeric Types

The easiest data type to work with are “Numbers” category, since all of us has a good grasp of it and already know what we should expect to see when someone talks about numbers!

Two main sub-types of numbers which we see together are:

- Integers
- Floats

(Two other numeric sub-types are long and complex which we won’t discuss here)

### Integers

Integers are numbers without decimal points:

In [7]:
1 + 1

2

In [43]:
f = 1 + 1

In [44]:
type(f)

int

In [13]:
type(1 + 1)

int

In [8]:
1256

1256

In [46]:
type(34572765 * 6779_625_645)

int

You can easily check if a number is integer or not. The only thing you need to do is use **_type( )_** built-in function (more on built-in functions later) . The result should be **_int_** as you see below:

In [10]:
type(452347)

int

In [14]:
type(1_456_099)

int

### Floats

In Python language numbers with decimal are known as Floats:

In [12]:
3.14159

3.14159

In [47]:
type(3.14159)

float

In [16]:
type('I am not a cat')

str

In [14]:
type(768.90)

float

### Integer and Float operations

Let's do some basic arithmatic and see the result data types:

In [23]:
a = 1_869 + 67.34
print(a)
print(type(a))

1936.34
<class 'float'>

In [22]:
a = 1 * 67.34
print(a)
print(type(a))

67.34
<class 'float'>

In [19]:
a = 12.5 + 10.5
print(a)
print(type(a))

23.0
<class 'float'>

In [51]:
a = 12. / 2
print(a)
print(type(a))

6.0
<class 'float'>

To summarize:
- **int** (+ or - or \*) **int** = **int**
- **float** (+ or - or \*) **float** = **float**
- **int** / **int** = **float**
- **int** / **float** = **float**
- **float** / **float** = **float**

### Integer and Float conversion (Cast)

Using **_float( )_** and **_int( )_** we can convert integers to floats and vice versa:

In [61]:
val = 34.67
type(val)
int(val)
print(val)

34.67

In [63]:
print(int(45.89)) # convert float to int
print(int('347')) # convert string to int

45
347

In [64]:
"""if you want to convert a string to int, the string MUST have
the form of an integer"""
print(int('56.76')) # this one doesn't work!

ValueError: invalid literal for int() with base 10: '56.76'

In [65]:
print(int(float('56.76'))) # this one does, why?

56

In [32]:
# The same thing is not true for converting string to float.
# it means the conversion works even if the string doesn't have the form of a 
# float
float('4')

4.0

<img src="Images/student.svg"   width="30" align="left">

**YOUR TURN :** Considering **a = 3.14**, which code results in 3 ?

- A : floor(a)
- B: float(int(a))
- C : int(10 // a)
- D : None of above

## Strings

Strings can hold almost anything in character form, including text, symbols, and digits.

As an example let's take a look at a list (more on lists later) with 7 strings inside:

In [ ]:
['a simple text',
 
 
"R3a11ySm4rTP@$swo0rD",
 
 
'navidnobani',
 
 
'1366',
 
 
'7945-1414 box',
 
"cane",
 
"""I really hate these 
        !@$&ing trains"""]

In [74]:
"I'cant sleep"

"I'cant sleep"

In [75]:
'I\'cant sleep'

"I'cant sleep"

Roughly, we can define strings as : everything that comes between ' ', " " or """ """. (Remember that this is a simplistic definition and not the whole story!). You may ask why we need to have three different ways to create a string? that's a good question! While no matter which you use, the outcome is always the same string object (For example for python 'cane', "cane" and """cane""" are exactly the same), there are certain situations which you should use them wisely. Suppose we want to create the following string:

> **I can't go to work today**

let's try to use " " first:

In [20]:
"I can't go to work today" # works perfectly!

"I can't go to work today"

and now """ """:

In [21]:
"""I can't go to work today""" # another success! :D

"I can't go to work today"

and finally   ' '  :

In [22]:
'I can't go to work today'

SyntaxError: invalid syntax (<ipython-input-22-62eb89c1839b>, line 1)

Wait, what is **invalid syntax** now! We get such an error when Python thinks what you have written doesn't make sense! To understand better what is a **Syntax Error** let's see an example of natural language:
- This is a correct sentence $\rightarrow $ *Marco easts sandwich* $\rightarrow $ (noun) (verb) (noun)
- This is a **Syntactically wrong** sentence $\rightarrow $ *Marco cat sandwich* $\rightarrow $ (noun) (noun) (noun)

So does it mean any (noun) (verb) (noun) gives us a correct combination? Yes and No! Yes because (noun) (verb) (noun) is a **Syntactically correct** sentence but it might still be meaningless $\rightarrow $ Marco listens sandwich ( It has a **static semantic error** )

The same thing exists in Python:
- *'Seven'11* is Syntactically wrong because Python can't  understand what do you mean by (str)(int) $\rightarrow $ **SyntaxError**

- *'seven' * 'two'* is also wrong but not Syntactically because although Python can understand what is your goal, (multiplying two strings) it can't do it $\rightarrow $ **TypeError**


Back to our exampole in the last cell, can you figure out what is the problem? (of course you can!)
There are two solutions here:
- using alternative strings as we did before (' ' or " " )
- using a character scape : In Python (and other programming languages) certain characters has a reserved role. It means not all the characters for python have the same characteristic behind the scene. In order to force Python to ignore the special role of certain characters like **\'** or **\"** we can use a backslash :

In [27]:
'I can\'t go to work today'

"I can't go to work today"

Now let's try to write a multi-line string :

In [28]:
'some
thing
long'

SyntaxError: EOL while scanning string literal (<ipython-input-28-d14d2b016c36>, line 1)

In [29]:
"some
thing
long"

SyntaxError: EOL while scanning string literal (<ipython-input-29-3044f7f10f02>, line 1)

In [82]:
print('just\nwrite\tsomething')

just
write	something

In [86]:
print(a)

3.14

In [84]:
print("""some
thing
long""")

some
thing
long

In [87]:
"""some
thing
long"""

'some\nthing\nlong'

Well' it seems working but what are those weird **\n** s in the middle? **\n** is one of the [Python literals](https://docs.python.org/2.0/ref/strings.html) that is used to indicated a new line. We don't go into details here but remember what we have said before about the characters with special meaning and how sometimes we need to escape them. As the last example let's try to make a string of the current notebook's path:

**C:\Documents\Newsletters\Summer2018.pdf**

In [89]:
print('ciao\ciao')

ciao\ciao

In [98]:
print('C:\Documents\Newsletters\Summer2018.pdf')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 12-13: malformed \N character escape (<ipython-input-98-57d006e5170f>, line 1)

As you can see we're getting a SyntaxError again. The reason is that Python thinks we want to use \n but we wrote \N instead. Since our goal here is not to indicate a new line (\n) but to use **\\** as part of string, we need to escape this special character. How can we do it?

By using **\\** itself! When Python sees **\\** is understands that you don't want to use special meaning of **\\** but you actually need to use backslash itself:

In [99]:
'C:\Documents\\Newsletters\Summer2018.pdf'

'C:\\Documents\\Newsletters\\Summer2018.pdf'

In [96]:
print('C:\Documents\\Newsletters\Summer2018.pdf')

C:\Documents\Newsletters\Summer2018.pdf

Before going to the next part which is about string operations, let's do  quick recap about what we have seen before. As you remember we've said that we can convert floats to integers (cast them) and vice versa and also a string to float or integer. The same thing exists in the contrary way: we can convert integers and floats to strings:

In [1]:
customer_id = 73456
print(customer_id)
print(type(customer_id))

73456
<class 'int'>

In [101]:
int('43')

43

In [2]:
customer_id_str = str(customer_id)
print(customer_id_str)
print(type(customer_id_str))

73456
<class 'str'>

### Common string operations

Having a string, you can apply on it a wide variety of string methods in order to modify it. There are dozens of operations which you can find [here](https://docs.python.org/2/library/string.html). We'll see together the mostly used ones:

#### Split

Returns a list of pieces of original string cut on the indicated string.

In [109]:
print('a', 'foo', 'bar', 'ham')

a foo bar ham

In [49]:
text = 'This is a Python course'
print(text)
text = text.split(sep=' ')
print(text)

This is a Python course
['This', 'is', 'a', 'Python', 'course']

In [112]:
text = 'I saw the guy, and suddenly he disappeared'
print(text)
text = text.split(',') # notice that I wrote ',' instead of sep=','
print(text)

I saw the guy, and suddenly he disappeared
['I saw the guy', ' and suddenly he disappeared']

#### Slicing

Cutting the string in a way to have new string which is the subset of the original string.

Actually, before explaining slicing, we need to learn a principal concept in Python : Indexing.
Suppose you have a box with 11 pens in it. If you want to take out them one by one and count them, most probably you'll go with:
- One
- Two
- ...
- Eleven

It means, you're using a 1-based index, you indicate the first item with number 1. Python on the other hand, uses a 0-based index. It means it refers to the first object as number(index) 0. So to count the pens in our example, Python goes:
- Zero
- One
- ...
- ten

Ok, now that we know how Python indexing works, we can see string indexing.
In Python Indexing/slicing is not limited to strings, instead, we can slice/index any object that can be considered as a group of objects. That being said, It should be clear now that for example the string: "cane" while considered as a string object is also seen as a container(not as a technical definition) of "c", "a", "n" and "e" with indexes 0, 1, 2 and 3. It means we can slice this string using their indexes. Let's see an example:

suppose we have this string: "NEW YORK" and we want to get the first 3 letters. The indexes are show below:

<img src="Images/slice.png" width="500">

In [114]:
'New York'

'New York'

In [118]:
t = 'New York'
t[4:]

'York'

In [121]:
text = 'NEW YORK'
print(text[1]) # E: second letter

print(text[0:3]) # NEW
print(text[40:80]) # YORK

print(text[:3]) # NEW
print(text[4:]) # YORK

E
NEW

NEW
YORK

Indexes can be address not only from the beginning but also from the end:

<img src="Images/slice_2.png" width="500">

In [123]:
text = 'NEW YORK'
print(text[-7]) # E: second letter

print(text[-8:-5]) # NEW
print(text[-4:]) # YORK

print(text[:-5]) # NEW

E
NEW
YORK
NEW

Slicing has other options which give you more control. We won't cover them here but in this [site](https://www.pythoncentral.io/cutting-and-slicing-strings-in-python/) you can find some interesting examples.

In [126]:
parola = 'pipho'

In [128]:
parola[-2]

'h'

#### Replace

Returns a new version of the original string in which the str_to_be_replaced instances are replaced with str_to_be_replaced_with:

In [136]:
text = 'I love my dog and my little dog'
print(text.replace('dog', 'cat', 1))

I love my cat and my little dog

In [137]:
t = 'tavolo cavolo'
t.replace('cavolo', 'gatto')

'tavolo gatto'

#### Concatenation

concatenation allows you to create new strings but concatenating existing string together , using "+":

In [138]:
text_1 = 'Hello'
text_2 = 'World!'
text_3 = text_1 + ' ' + text_2

print(text_3)

Hello World!

#### Strip

Removes the given string from the beginning and end of the original string. Note: Like split( ) function, the default value of strip( ) function is space so if you run my_text.strip( ), it cleans my_text string from starting and ending spaces.

In [ ]:
print()

In [144]:
text_1 = ' Pirelli Spa '
print(text_1.strip())

text_2 = 'Continental -'
print(text_2.strip('-').strip())

text_3 = '*Python***'
print(text_3.lstrip('*')) # There is also "rsplit"

Pirelli Spa
Continental
Python***

Although not string operations, **print** and **len** function are Python built-in functions (more on this later) which can be used with different data types like strings, numbers, lists,...

#### Printing a string

**print** function prints(!) the input to the stdout(standard output). Note that not all the Python objects can be printed out.

In [42]:
print('something')
print('-'*40)

text = 'just a short text'
print(text)
print('-'*40)

text_1 = 'My name is'
text_2 = 'Navid'
print(text_1, text_2)
print('-'*40)

text_3 = 'University'
text_4 = 'of'
text_5 = 'Bicocca'
print(text_3, text_4, text_5)
print('-'*40)

text_6 = 'folder1'
text_7 = 'folder2'
text_8 = 'folder3'
text_9 = 'file'
print(text_6, text_7, text_8, text_9, sep='/')

something
----------------------------------------
just a short text
----------------------------------------
My name is Navid
----------------------------------------
University of Bicocca
----------------------------------------
folder1/folder2/folder3/file

#### String  length

**len** returns the number of characters in the given string:

In [48]:
print(len('bicocca'))
print(len('AC DC!'))
print(len(' cane 1'))

7
6
7

<img src="Images/baby.svg"   width="30" align="left">

**YOUR TURN :** Replace the spaces in the **target** with the 10th character of the **source**:

In [159]:
source = '\'\'\'ChUpAcHuPs"/"/"/"'
target = 'pP pP pP sS sS sS cC cC cC'

In [161]:
x = source[9]

In [162]:
target.replace(' ', x)

'pPHpPHpPHsSHsSHsSHcCHcCHcC'

In [ ]:
(\   .-.   .-.   .-.   .-.   .-.   .-.   .-.   .-.   /_")
 \\_//^\\_//^\\_//^\\_//^\\_//^\\_//^\\_//^\\_//^\\_//
  `"`   `"`   `"`   `"`   `"`   `"`   `"`   `"`   `"`

#### Other operations

There are some operations that perform a transformation on strings:

In [46]:
text = 'MilaN'
print(text.lower())
print(text.upper())
print(text.title())

milan
MILAN
Milan

Being a strongly typed language, Python doesn't let you to use operations on objects unrelated to them. For example "'Cat' + 3" gives you a "TypeError" since addition operation is for numerical objects not strings:

In [163]:
'cat' - 3

TypeError: unsupported operand type(s) for -: 'str' and 'int'

But at the same time, there are some exceptions. For example "'cat' * 3" works since Python assume that you want to repeat the string 'cat' , 3 times:

In [33]:
'cat' * 3

'catcatcat'

## Fstrings

fsrting is one of the _string formatting_ methods which in my opinion, is the best and easiest one!

Imagine that you have a template which should fill with some info and print it:

In [1]:
name = 'Fabio'
surname = 'Mercorio'
university = 'Milano-Bicocca'
field = 'computer science'

And this is the template:

 \[name\] \[surname\] is a \[filed\] professor in the \[university\] university.

One (bad) way we can get what we want is this:

In [3]:
print(name + ' ' + surname + ' is a ' + field + ' professor in the' + ' ' + university + ' unversity.')

Fabio Mercorio is a computer science professor in the Milano-Bicocca unversity.

using fstings we can get the desired resuts in simplere way:

In [3]:
print(f'{name} {surname} is a {field} professor in the {university} university.')

Fabio Mercorio is a computer science professor in the Milano-Bicocca university.

## Booleans

Booleans are are another core data type of Python which consist of only two values: **True** and **False**. Boolean values are mainly used when we're somehow comparing different values together. (More on comparisons later).
In Python True has a value of 1 while False's value is 0. We can check this fact by converting them to integer:

In [39]:
print(int(True))
print(int(False))

1
0

## Lists

Lists are one of the most common sequence objects in Python which provide a collection of arbitrary type objects. Lists have several characteristics, like:
- List can contain objects with different data types in the same time.
- They are mutable.
- There is no limit for their length.

In [52]:
list_A = [1, 'A', 234, 'BATMAN']
list_B = ['Na',' Nana', 'Nanana']
list_C = [134.05, 87.13, 109, 13.14, 530000, 19]

In [168]:
listak = [1, 3, 'na', [1, 6, 8]]

let's use some of functions we have used with Strings, this time with lists:

In [56]:
print(list_A) # print
print(len(list_B)) # len
print(list_C[3]) # slice : asking for just one item
print(list_A[1:3]) # we're asking two items so the result will be a list
print(list_B[:])

[1, 'A', 234, 'BATMAN']
3
13.14
['A', 234]
['Na', ' Nana', 'Nanana']

Just like Strings, we can concatenate lists together:

In [173]:
'aa' + 'gg'

'aagg'

In [84]:
[1, 'ABC'] + [1.0, [4, 98, 11.567]]
# the same result can be achieved by using the following :
# [1, 'ABC'].extend([1.0, [4, 98, 11.567]])

[1, 'ABC', 1.0, [4, 98, 11.567]]

Using **append** method we can add new items to the end of a list:

In [67]:
my_list = ['A', 'B', 'C']
word = 'D'
my_list.append(word)
print(my_list)

['A', 'B', 'C', 'D']

While append adds the new item at the end of the list, using **insert** you can insert the item in any inex you want:

In [190]:
my_list = ['a', 'bar', 'foo']
my_list.insert(len(my_list), 'ham') # it's equal to my_list.append('ham')
print(my_list)

['a', 'bar', 'foo', 'ham']

In [191]:
small = [4, 5, 1, 9]
print(small)
small.sort(reverse=True) # Note that sort is an in-place function
print(small)
small.sort(reverse=False)
print(small)

print('-'*30)

# unlike sort(), sorted creates a new copy of the list and doesn't change 
# the original list
original = [4, 9, 1, 8, 0]
print(original)
print(sorted(original, reverse=False))
print(original)

[4, 5, 1, 9]
[9, 5, 4, 1]
[1, 4, 5, 9]
------------------------------
[4, 9, 1, 8, 0]
[0, 1, 4, 8, 9]
[4, 9, 1, 8, 0]

**remove**, **pop** and **del** are used to remove an item from a list:

In [56]:
# remove

list_1 = ['A', 'B', 'C', 'A', 'D', 'A']
list_1.remove('A')
print(list_1)

['B', 'C', 'A', 'D', 'A']

In [80]:
# pop

list_2 = [1, 2, 3, 4, 5, 6]
list_2.pop(2)
print(list_2)

list_2 = [1, 2, 3, 4, 5, 6]
list_2.pop()
print(list_2)

[1, 2, 4, 5, 6]
[1, 2, 3, 4, 5]

In [82]:
# del

list_2 = [1, 2, 3, 4, 5, 6]
del list_2[2]
print(list_2)

list_2 = [1, 2, 3, 4, 5, 6]
del list_2[3:]
print(list_2)

[1, 2, 4, 5, 6]
[1, 2, 3]

Lists are mutable, it means we can change their contents in-place:

In [105]:
some_list = ['spam', 'ham', 'car', 'foo']
some_list[2] = 'bar'
print(some_list)

['spam', 'ham', 'bar', 'foo']

As last, let's see how can we check if an item is in a list or not:

In [194]:
target_1 = 11
my_vals = [1, 56, 876, 32, 11, 6, 9]

print(target_1 in my_vals)

True

It may seems useless since you can easily see if a certain value exists in a list but remember that not always deal with small lists which you can simply visualize. 

By using **not in** instead of **in** we can check if an item doesn't exists in a list:

In [42]:
target_2 = 32
print(target_2 not in my_vals)

False

<img src="Images/student.svg"   width="30" align="left">

**YOUR TURN :** Using slicing, get the letter **x** from final_list :

In [195]:
my_list = [1, 4, 8, 'foo']
your_list = ['ham', '1', 2, 6]
his_list = ['4', '2', 'xyz', '6']


print(f'Original : {my_list}')
my_list[-2] = your_list

print(f'First change : {my_list}')
my_list[-2][-1] = his_list

print(f'Second change : {my_list}')
final_list = my_list

Original : [1, 4, 8, 'foo']
First change : [1, 4, ['ham', '1', 2, 6], 'foo']
Second change : [1, 4, ['ham', '1', 2, ['4', '2', 'xyz', '6']], 'foo']

In [198]:
final_list

[1, 4, ['ham', '1', 2, ['4', '2', 'xyz', '6']], 'foo']

In [ ]:
(\   .-.   .-.   .-.   .-.   .-.   .-.   .-.   .-.   /_")
 \\_//^\\_//^\\_//^\\_//^\\_//^\\_//^\\_//^\\_//^\\_//
  `"`   `"`   `"`   `"`   `"`   `"`   `"`   `"`   `"`

## A recap before we go further

In [ ]:
age = 31.5
city = 'Milano'
glasses = True
pets = ['Oliver -1.5', 'Zolli -9']

In [ ]:
# convert the age to integer
age =

In [ ]:
# lowecase the city
city =

In [ ]:
#create two variables containing pet ages
o_age = 
z_age =

In [ ]:
# add the pets ages to a new list
pets_age =

## Dictionaries

Dictionaries, Like a lists, are built-in sequence objects which can contain different data types. The main difference between lists and dictionaries is that unlike lists, dictionaries are not ordered collection of items, and as a result you can access their contents using indexes and positions. Instead dictionaries can be accessed using a key:value method.

In [108]:
dict_1 = {'A': 1, 'B': 3, 'D': 'X'}
print(dict_1['D'])

X

Adding items to a dictionary is easy. Just remember that you can't just add a value like, 10, but you also need to add a key:value pair:

In [68]:
shirt = {'color': 'red', 'size': 'M', 'quantity': 15}

In [69]:
shirt['quantity']

15

In [117]:
shirt['price'] = 45
print(shirt)

{'color': 'red', 'size': 'M', 'quantity': 15, 'price': 45}

Create a dictionary with your **name, age, city**

In [70]:
new_dict = {'name' : 'Navid', 'age': 31, 'city': 'Milan'}

In [71]:
print(new_dict)

{'name': 'Navid', 'age': 31, 'city': 'Milan'}

In the same way you can remove a key:value pair:

In [121]:
del shirt['size']
print(shirt)

{'color': 'red', 'quantity': 15, 'price': 45}

Some useful methods:

In [123]:
print(shirt.keys())
print(shirt.values())

dict_keys(['color', 'quantity', 'price'])
dict_values(['red', 15, 45])

## Tuples

Tuples are very similar to lists but unlike lists, are not mutable. It means you can't modify them in-place as you can do with lists. (But still you can access their contents using indexes):

In [125]:
my_tuple = (1, 3, 'foo')
print(my_tuple[2])

foo

In [126]:
my_tuple[0] = 'ham'

TypeError: 'tuple' object does not support item assignment